{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": "off",
    "react/jsx-no-bind": "error",
    "react/sort-comp": "warn",
    "react/jsx-props-no-spreading": "off",
    "object-curly-spacing": ["warn", "never"],
    "template-curly-spacing": ["warn", "never"]
  }
}
